<!DOCTYPE html>
<html>
<head>
    <title>Moive Subtitle - Search Engine</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        /* Your CSS code goes here */
        body {
            background-color: lightblue;
            font-family: sans-serif;
            text-align: center;
        }

        h1 {
            color: #333;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Moive Subtitle - Search Engine</h1>
    <form method="POST">
        <input type="text" name="search_term" placeholder="Enter Moive Subtitle">
        <button type="submit">Search</button>
    </form>
</body>
</html>
